* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-size: 14px;
   font-family: 'Roboto', sans-serif;
   background-color: #323234;
}

header {
   height: 80px;
   background-color: #F2CD54;
}

.discs-container {
   padding: 20px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.disc-card {
   width: 200px;
   background-color: #F2CD54;
   border: 1px solid white;
   margin: 10px;
   padding: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   min-height: 300px;
}

.title {
   text-align: center;
}
.author {
   font-size: 16px;
}
.disc-card img {
   width: 100%;
}

.info {
   width: 100%;
   display: flex;
   justify-content: space-between;
   color: #323234;
}
